@media print {

    div.for_icons {
        display: none;
    }

    nav {
        display: none;
    }

    div.footer1 {
        display: none;
    }

    div.body {
        padding-left: 5%;
        padding-right: 5%;
        float: left;
        width: 40%;
        font-size: 14pt;
    }

    div.for_adverts {
        float: right;
        width: 40%;
        padding-left: 15%;
        padding-right: 5%;
        font-size: 14pt;
    }

    img {
        display: none;
    }

}

div.str4 {
    font-family: Calibri;
    font-size: 14pt;
    text-align: center;
    margin: 20px;
}

div.title_large {
    font-family: Calibri;
    font-size: 32pt;
    font-weight: 800;
    text-align: center;
    margin: 20px;
}

div.title_big {
    font-family: Calibri;
    font-size: 24pt;
    font-weight: 600;
    text-align: center;
    margin: 10px;
}

div.credits {
    font-family: Calibri;
    font-style: italic;
    font-size: 14pt;
    text-align: right;
    margin-right: 60px;
}

div.description {
    font-family: Calibri;
    font-size: 14pt;
}

span.fragbold {
    font-family: Calibri;
    font-size: 14pt;
    font-weight: bold;
}

span.fragitalic {
    font-family: Calibri;
    font-size: 14pt;
    font-style: italic;
}

body.body_poem {
    background-color: #FFEEDD;
}

body.body_about_me {
    background-color: #CCFFFF;
}

img.me {
    box-shadow: 0 0 5px 0 #000000;
    width: 332px;
    height: 187px;
    margin-right: 20px;
    margin-bottom: 10px;
    float: left;
}

ul.hobbies {
    font-family: Calibri;
    font-size: 14pt;
}

img.icons {
    width: 30%;
    height: 18%;
    margin: 3%;
    padding-left: 30%;
    max-width: 128px;
    max-height: 128px;
}

div.for_icons {
    float: left;
    width: 33%;
    height: 90%;
    padding-top: 2.6%;
    padding-bottom: 2.6%;
}

div.for_adverts {
    float: left;
    width: 33%;
    height: 90%;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 14pt;
}

div.body {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    float: left;
    width: 31%;
    height: 90%;
    font-size: 16pt;
}

p.center_bold {
    font-family: Calibri;
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
}

p.left {
    font-family: Calibri;
    font-size: 16pt;
    text-align: left;
    padding-bottom: 20px;
}

p.right {
    font-family: Calibri;
    font-size: 16pt;
    text-align: right;
    padding-bottom: 20px;
}

div.footer1 {
    float: right;
    font-family: Calibri;
    font-size: 14pt;
    text-align: right;
    font-weight: bold;
    margin-top: 60px;
    margin-right: 10px;
    margin-bottom: 10px;
}

nav.head {
    background: orange;
    width: 100%;
    height: 36px;
    font-size: 18pt;
    font-weight: bold;
}

li.head:hover {
    background: black;
    color: white;
}

ul.head {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.unhead {
    display: none;
    positition: absolute;
    list-style: none;
    padding: 5px 0 0;
}

li.head:hover > ul.unhead {
    display: inherit;
}

li.unhead {
    background: lightgray;
    color: black;
    float: none;
    min-width: 150px;
    font-size: 18pt;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    display: list-item;
    position: relative;
}

li.unhead:hover {
    background: black;
    color: white;
}

ul.chead {
    background: lightgray;
    color: black;
    float: none;
    font-size: 18pt;
    top: 0;
    left: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    display: none;
    position: absolute;
    list-style: none;
}

li.unhead:hover > ul.chead {
    display: inherit;
}

li.head {
    text-align: center;
    width: 150px;
    height: 36px;
}

a {
    text-decoration: none;
}

a:visited {
    color: unset;
}